@use './fonts.scss';
@use './reset.scss';
@use './base.scss';
@use './utilities.scss';
@use './components.scss';

:root {
  --color-primary-01: #9E7262;
  --color-secondary-04: #858C9B;
  --color-white: #FFFFFF;
  --color-base-01: #0F1C26;
  --color-base-02: #1F2B34;
  --color-base-03: #37444E;
  --font-object: 'Object Sans';
  --l-spacing-base: -0.02em;
}
