@use './fonts.scss';
@use './reset.scss';
@use './base.scss';
@use './utilities.scss';
@use './components.scss';

:root {
  --color-primary-01: #9E7262;
  --color-primary-02: #B28676;
  --color-primary-03: #C69A8A;
  --color-secondary-01: #394955;
  --color-secondary-02: #5C6068;
  --color-secondary-03: #CED1D7;
  --color-secondary-04: #858C9B;
  --color-white: #FFFFFF;
  --color-base-01: #0F1C26;
  --color-base-01-75: rgba(15, 28, 38, 0.75);
  --color-base-02: #1F2B34;
  --color-base-03: #37444E;
  --color-base-04: #6F777D;
  --color-error: #ff2626;
  --color-success: #38b068;
  --font-object: 'Object Sans';
  --l-spacing-base: -0.02em;
}
