@font-face {
  src:
    url('/fonts/object-sans/ObjectSans-Regular.woff2') format('woff2'),
    url('/fonts/object-sans/ObjectSans-Regular.woff') format('woff');
  font-family: 'Object Sans';
  font-weight: 400;
}
