.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.block {
  display: block;
}

.uppercase {
  text-transform: uppercase;
}

.overflow-hidden {
  overflow: hidden;
}

.grow {
  flex-grow: 1;
}

.text-primary-01 {
  color: var(--color-primary-01);
}

.relative {
  position: relative;
}
