@mixin text-h4-regular-02 {
  font-family: var(--font-object);
  letter-spacing: var(--l-spacing-base);
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
}

@mixin text-body-xs-regular-01 {
  font-family: var(--font-object);
  letter-spacing: var(--l-spacing-base);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
}

@mixin text-body-s-regular-01 {
  font-family: var(--font-object);
  letter-spacing: var(--l-spacing-base);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}

@mixin text-body-s-regular-02 {
  font-family: var(--font-object);
  letter-spacing: var(--l-spacing-base);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
}

@mixin text-body-m-regular-05 {
  font-family: var(--font-object);
  letter-spacing: var(--l-spacing-base);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

@mixin text-body-m-regular-03 {
  font-family: var(--font-object);
  letter-spacing: var(--l-spacing-base);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}

@mixin text-body-m-regular-02 {
  font-family: var(--font-object);
  letter-spacing: var(--l-spacing-base);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
}

@mixin text-body-m-regular-01 {
  font-family: var(--font-object);
  letter-spacing: var(--l-spacing-base);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

@mixin text-body-l-regular-02 {
  font-family: var(--font-object);
  letter-spacing: var(--l-spacing-base);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
}

@mixin text-body-xl-regular-01 {
  font-family: var(--font-object);
  letter-spacing: var(--l-spacing-base);
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
}
